<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/crear_estacion">Crear Estación</a></li>
            <li><a href="/crear_bus">Crear Bus</a></li>
            <li><a href="/editar_estacion">Editar Estación</a></li>
            <li><a href="/editar_bus">Editar Bus</a></li>
            <li><a href="/eliminar_estacion">Eliminar Estación</a></li>
            <li><a href="/eliminar_bus">Eliminar Bus</a></li>
            <li><a href="/historial_estaciones">Historial Estaciones</a></li>
            <li><a href="/historial_buses">Historial Buses</a></li>
            <li><a href="/diseno">Diseño</a></li>
            <li><a href="/desarrollador">Desarrollador</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>