<div class="mt-5">
    <h2>Se hicieron los siguientes mockups del proyecto y la representación del mapa de endpoints</h2>
    <div class="d-flex flex-wrap justify-content-center gap-3 mt-3">
        <div class="text-center">
            <h5>Mockup Actualizar</h5>
            <img src="/static/img/Actualizar.png" alt="Actualizar" class="img-thumbnail" style="max-width: 150px;" />
        </div>
        <div class="text-center">
            <h5>Mockup Diseño</h5>
            <img src="/static/img/Diseño.png" alt="Diseño" class="img-thumbnail" style="max-width: 150px;" />
        </div>
        <div class="text-center">
            <h5>Mockup Eliminar</h5>
            <img src="/static/img/Eliminar.png" alt="Eliminar" class="img-thumbnail" style="max-width: 150px;" />
        </div>
        <div class="text-center">
            <h5>Mockup Historial</h5>
            <img src="/static/img/Historial.png" alt="Historial" class="img-thumbnail" style="max-width: 150px;" />
        </div>
        <div class="text-center">
            <h5>Mockup Inicio</h5>
            <img src="/static/img/Inicio.png" alt="Inicio" class="img-thumbnail" style="max-width: 150px;" />
        </div>
        <div class="text-center">
            <h5>Mockup Insertar</h5>
            <img src="/static/img/Insertar.png" alt="Insertar" class="img-thumbnail" style="max-width: 150px;" />
        </div>
        <div class="text-center">
            <h5>Mockup Leer</h5>
            <img src="/static/img/Leer.png" alt="Leer" class="img-thumbnail" style="max-width: 150px;" />
        </div>
    </div>
</div>
<div class="mt-4 text-center">
    <h3>Mapa de Endpoints</h3>
    <img src="/static/img/Mapa de endpoints.png" alt="Mapa de Endpoints" class="img-fluid" style="max-width: 400px;" />
</div>
